JWT_SECRET=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ── Redis ───────────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ── Google ───────────────────────────────────────────────────────
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ── Github ───────────────────────────────────────────────────────
GITHUB_CLIENT_ID=dummy
GITHUB_CLIENT_SECRET=dummy

# ── SMPT (GMAIL) ─────────────────────────────────────────────────
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# ── Frontend URL ─────────────────────────────────────────────────
FRONTEND_URL=http://localhost:3000


# ── Cloudinary ──────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=